.App {
  width: 1280px;
  height: 960px;
  position: relative;
}

#small-map {
  z-index: 50;
}

#large-map {
  position: absolute;
  right: 10px;
  bottom: 20px;
  outline: 4px solid black;
  outline-offset: 0;
  z-index: 100;
}
